<!DOCTYPE>
{% load widget_tweaks %}

<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
		<title>Home</title>
	</head>

	<body>
		<a id="homepage-heading">Hello apa kabar?</a>
		<form action="/submit-form/" method="post">
			{% csrf_token %}
			{% for row in form %}
				<div class="form-group">
					{% render_field row class="form-control" %}
				</div>
			{% endfor %}
			<button id="submit-button" type="submit">Submit</button>
		</form>

		{% for status in visitor_status %}
		<p>{{ status.status }}</p>
		{% endfor %}
	</body>
</html>